body {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.center-elements {
  display: inline-block; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo{
    display: flex;
    justify-content: center;
    margin-bottom:20px;
}

.bar{
    margin: auto;
    width:500px;
    height: 45px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    position: relative;
}

.lupa{
    position: absolute;
    left: 1rem;
    height: 25px;
    width: 25px;
    margin-top: calc((45px - 25px)/2);
}

.input_search {
    margin: auto;
    position: absolute;
    left: 3rem;
    width: calc(500px - 3rem - 1rem);
    border-radius: 30px;
    height: 40px;
    border: none;
    outline:none;
}

.input_search:hover {
    outline: none;
}

.bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
}

.search-bar{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top:30px;
}

.button {
    margin: 0.5rem;
    font-size:15px;
    font-family: sans-serif;
    border-style: none;
    background-color: #f5f5f5;
    padding: 10px 20px;
    border-radius:4px;
    
}

.button:hover {
    cursor: pointer;
    border-style: solid;
    border-color: #E0E1E0;
}

.parent {
    position: relative;
}

.image_title {
    color: blue;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 15px;
    font-family: arial, sans-serif;
}

.logo_nav {
    width: 100px;
    height: 100px;
}

.blue {
    color: #4285F4;
}

.red {
    color: #DB4437;
}

.green {
    color: #0F9D58;
}

.yellow {
    color: #F4B400;
}

.logo_link > * {
    font-family: arial, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo_link {
    text-decoration: none !important;
}

.appbar {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.form_div {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}
.advance_col {
    font-size: 0.8rem;
    margin-top: auto;
    margin-bottom: auto;
}
